body {
    background-image: url(img/backgroundmain.jpg);
    background-repeat: repeat;
}

#container-forms {
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}